:root {
  --bg-color: #5d4954;
  --text-color: #5d4954;
  --white-fade-color: rgba(226, 226, 226);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f1f1f1;
}

.shadow {
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.main {
  margin-top: 10vh;
}

.shadow {
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
}

.logo {
  /* color: var(--white-fade-color); */
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo img {
  height: 50px;
  width: 150px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  /* color: var(--white-fade-color); */
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.home-container {
  background: url("../img/home-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 90vh;
}

.home-container .content {
  top: 50%;
  left: 15%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  position: absolute;
  z-index: 2;
}

.home-overlay {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 1;
  background: #0000008a;
}

.home-container .content h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 40px;
}

.home-container .content .sm {
  margin-bottom: 40px;
}

.home-container .content .sm a {
  margin-right: 50px;
}

.home-container .content .sm a:hover {
  color: #ff6348;
}

.home-container .content .buttons a {
  padding: 10px;
  border-radius: 3px;
  line-height: 30px;
  border: 2px solid #ff6348;
}

.home-container .content .buttons a:hover {
  border: 2px solid #ff6348;
  background-color: #ff6348;
}

/* about section */
.about {
  background: url("../img/backdrop.jpeg") no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 50px 0;
}

.about .container {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 100px;
}

.about .container h1 {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.about .container .about-text {
  font-size: 13px;
  color: gray;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.about .container .skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .about .container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about {
    background-size: 100%;
    padding: 100px 40px;
  }

  .about .container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about {
    padding: 0;
  }

  .about .container {
    padding: 60px;
  }
}

/** services Section */
.services {
  text-align: center;
  padding: 30px 0;
}

.service-tag {
  margin-top: 40px;
  color: gray;
}

.services h1 {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid var(--text-color);
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.services .container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.service-panel {
  display: inline-block;
  /* width: calc(100% / 4); */
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}

.service-panel:hover {
  background-color: #ddd;
}

.service-panel i {
  color: var(--text-color);
  font-size: 34px;
  margin-bottom: 30px;
}

.service-panel h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

.service-panel p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .service-panel {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .service-panel {
    width: 100%;
  }
}

/** Contact section */
.contact {
  text-align: center;
  padding-bottom: 40px;
}

.contact h1 {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid var(--text-color);
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.contact p.salutation {
  margin: 40px 0;
  color: gray;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.contact-info .card {
  background: var(--bg-color);
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-fade-color);
  cursor: pointer;
}

.contact-info .card-icon {
  font-size: 28px;
  background: #ff6348;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.contact-info .card:hover .card-icon {
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}

.contact-info .card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.contact-info .card p.email {
  font-size: 14px;
}

.contact-info .card:hover p {
  max-height: 40px;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .contact-info {
    flex-direction: column;
  }

  .contact-info .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }

  .contact-info .card p {
    font-size: 15px;
  }

  .contact-info .card p.email {
    font-size: 10px;
  }
}

/* testimonial section */
.testimonial {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  box-sizing: border-box;
  padding: 100px;
}

.testimonial-panel {
  position: relative;
  padding: 80px 40px 40px;
  transition: 0.5s;
  text-align: center;
  background: #fff;
}

.testimonial-panel:hover {
  color: var(--white-fade-color);
  background: var(--bg-color);
}

.testimonial-panel p {
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

.testimonial-panel h4 {
  margin: 20px 0 0;
  padding: 0;
  transition: 0.5s;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.testimonial-panel h4 span {
  font-weight: 600;
  font-size: 14px;
  transition: .5s;
}

.testimonial-panel:hover p,
.testimonial-panel:hover h4,
.testimonial-panel:hover h4 span {
  color: var(--white-fade-color);
}

.testimonial-img {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.testimonial-panel::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 80px;
  width: 80px;
  height: 80px;
  background: url(../img/quote.png);
  background-size: cover;
  opacity: .05;
  pointer-events: none;
  transition: .5s;
}

.testimonial-panel:hover::before {
  transform: translateY(-60px);
  opacity: 1;
}

.testimonial-panel::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 80px;
  width: 80px;
  height: 80px;
  background: url(../img/quote.png);
  background-size: cover;
  opacity: .05;
  pointer-events: none;
  transition: .5s;
  transform: rotate(180deg) translateY(0);
}

.testimonial-panel:hover::after {
  transform: rotate(180deg) translateY(-60px);
  opacity: 1;
}

@media (max-width: 768px) {
  .testimonial-panel {
    margin-top: 80px;
  }
}

@media (max-width: 375px) {
  .testimonial {
    padding: 16px;
  }
}


/* footer section */
.footer {
  text-align: center;
  /* height: 10vh; */
  padding: 20px;
  color: gray;
  font-size: 14px;
  font-weight: 500;
}

.footer .designer {
  text-transform: uppercase;
  font-weight: 700;
}