:root {
  --bg-color: #5d4954;
  --text-color: #5d4954;
  --white-fade-color: rgba(226, 226, 226);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f1f1f1;
}

.shadow {
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  /* background-color: var(--bg-color); */
}

.shadow {
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
}

.logo {
  /* color: var(--white-fade-color); */
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo img {
  height: 50px;
  width: 150px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  /* color: var(--white-fade-color); */
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 10vh;
    /* background-color: var(--bg-color); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/** Services Section */
.services {
  text-align: center;
}

.services h1 {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid var(--text-color);
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.service-container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.service-panel {
  display: inline-block;
  width: calc(100% / 4);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}

.service-panel:hover {
  background-color: #ddd;
}

.service-panel i {
  color: var(--text-color);
  font-size: 34px;
  margin-bottom: 30px;
}

.service-panel h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

.service-panel p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .service-panel {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .service-panel {
    width: 100%;
  }
}

/** Contact section */
.contact {
  text-align: center;
  padding-bottom: 40px;
}

.contact h1 {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid var(--text-color);
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.contact p.salutation {
  margin: 40px 0;
  color: gray;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.contact-info .card {
  background: var(--bg-color);
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-fade-color);
  cursor: pointer;
}

.contact-info .card-icon {
  font-size: 28px;
  background: #ff6348;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.contact-info .card:hover .card-icon {
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}

.contact-info .card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.contact-info .card p.email {
  font-size: 14px;
}

.contact-info .card:hover p {
  max-height: 40px;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .contact-info {
    flex-direction: column;
  }

  .contact-info .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }

  .contact-info .card p {
    font-size: 15px;
  }

  .contact-info .card p.email {
    font-size: 10px;
  }
}
